[alias]
	alias = config --get-regexp alias
	co = checkout
	br = branch
	ci = commit
	st = status
	fap = !git pull && git fetch -p
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	graph = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s" --oneline
